* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-color: lightcyan;
  }
  .header {
    height: 200px;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
 
  h1 {
    font-size: 4rem;
    font-weight: 400;
    color: #0E0C3F;
    margin-bottom: 10px;
  }
  h1:hover {
    color:purple;
  }

  p{
    font-size: 1.5rem;
    color:rgba(128, 0, 128, 0.687);
  }
  
  .battery-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: azure;
    margin-bottom: 20px;
    flex-direction: column;
    max-width: 500px;
    border: 1px solid #cccccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    margin-top: 20px;
  }
  
  .item {
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  h3 {
    font-size: 1.5rem;
    font-weight: 400;
    color: #333;
    margin-right: 20px;
  }
  
  span {
    font-size: 1.5rem;
    font-weight: 400;
    color: purple;
  }
   
  
  /* @media (max-width: 788px){
  .header-content{
    position: relative;
    top: 600px;
  }
  } */